<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="WebsiteUrl" value="dj-pool.org/" />

    <add key="FakeDates" value="true" />
    <add key="FakeDatesStart" value="2016,1,1" />
    <!-- Set "now" to use UtcNow or set a date in the time -->
    <add key="FakeDatesEnd" value="2016,5,30" />

    <add key="ExtractCatFromRelease" value="true" />

    <!-- 0+ OR 0 is OFF (means no free releases) -->
    <add key="FreeReleasesFrequency" value="5" />

    <add key="PosterName" value="autodj" />
    <add key="PostType" value="post" />
    <add key="PostStatus" value="publish" />
  </appSettings>
</configuration>